.axis path,
.axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

path.line {
  fill: none;
  stroke-width: 1px;
  stroke-opacity: 80%;
}

.line.normal {
  stroke: gray;
}

.line.unfocused{
  stroke-opacity: 40%;
}

.line.focused {
  stroke-width: 2px;
  stroke-opacity: 100%;
  stroke: orange;
}